<?xml version="1.0" encoding="UTF-8"?>

<configuration status="error">
	<properties>
		<property name = "format" value = "%d{yyyy-MM-dd HH:mm:ss} %-5level [%class] Line %L Method %M -- %m%xEx%n"/>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
		 <!--  <ThresholdFilter level = "debug" onMatch="ACCEPT" onMismatch="DENY"/> -->
		  <PatternLayout pattern = "${format}"/>
		</Console>
		
		<File name="log" fileName="F:\logs\BaiduWeb.log" append = "false" >
			<PatternLayout pattern = "${format}"/>
		</File>
		<File name="Error" fileName="F:\logs\BaiduWeb_error.log" append = "false">
			<ThresholdFilter level = "error" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern = "${format}"/>
		</File>
		
		
	</appenders>
	<Loggers>
		<root level = "trace">
			<appender-ref ref = "Console" />
			<appender-ref ref = "log" />
			<appender-ref ref = "Error" />
		</root>
	
	</Loggers>
</configuration>